# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
instance/
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log