{% extends 'base.html' %}
{% from "macros/model_view.jinja2" import render_fields %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/miniature_page.css') }}">
{% endblock %}
{% block main_content %}
<main>
    <h1 class="view_details-header">Student Details</h1>
    <div class="view_details">
        <ul class="view_details-items">
            {{ render_fields(student) }}
        </ul>
        <img src="{{ url_for('static', filename='images/student-person-part-2-svgrepo-com.svg') }}" alt="Stock Student Image" class="view_details-image">
    </div>
    <div class="view_details-buttons">
        <a href="{{ url_for('admin.index') }}" class="view_details-button item__button-blue">Back</a>
    </div>
</main>
{% endblock %}