{% extends 'base.html' %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/miniature_page.css') }}">
{% endblock %}

{% block main_content %}
    <form method="POST" class="form">
        {{ form.hidden_tag() }}
        <div class="form__field">
            {{ form.email.label(class="form__field-label") }} {{ form.email(class="form__field-input", required=True) }}
            {% for error in form.email.errors %}
            <div class="form__field-error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form__field">
            {{ form.username.label(class="form__field-label") }} {{ form.username(class="form__field-input", required=True) }}
            {% for error in form.username.errors %}
            <div class="form__field-error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form__field">
            {{ form.password.label(class="form__field-label") }} {{ form.password(class="form__field-input", required=True) }}
            {% for error in form.password.errors %}
            <div class="form__field-error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form__field">
            {{ form.password2.label(class="form__field-label") }} {{ form.password2(class="form__field-input", required=True) }}
            {% for error in form.password2.errors %}
            <div class="form__field-error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form__field">
            {{ form.role.label(class="form__field-label") }}
            {% for subfield in form.role %}
                <div class="form__radio-option">
                    {{ subfield() }}
                    {{ subfield.label }}
                </div>
            {% endfor %}

            {% for error in form.role.errors %}
            <div class="form__field-error">{{ error }}</div>
            {% endfor %}
        </div>
        {{ form.submit(class="form__submit") }}
    </form>
    <form action="{{ url_for('auth.login') }}" class="logout__form">
        <p class="logout__form-message">Already have an account?</p>
        <button type="submit" class="logout__form-button sign_up">Log In</button>
    </form>
{% endblock %}